Repository VirgilSecurity/virgil-keyknox-javascript: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, tslint --fix

Update tsconfig.json
  tsconfig.json
Due: none

Add KeyEntryStorageWrapper
  src/KeyEntryStorageWrapper.ts
  src/SyncKeyStorage.ts
  src/__tests__/KeyEntryStorageWrapper.test.ts
  src/__tests__/SyncKeyStorage.test.ts
Due: tslint --fix

Minor changes in tests
  src/__tests__/CloudKeyStorage.test.ts
  src/__tests__/KeyEntryUtils.test.ts
  src/__tests__/KeyknoxManager.test.ts
  src/__tests__/SyncKeyStorage.test.ts
  src/clients/__tests__/KeyknoxClient.test.ts
  src/cryptos/__tests__/KeyknoxCrypto.test.ts
Due: tslint --fix

Update README.md
  README.md
Due: none

Update example
  example/.eslintrc.json
  example/client.js
  example/server.js
Due: eslint --fix

Update .lintstagedrc
  .lintstagedrc
Due: none

Update rollup.config.js
  rollup.config.js
Due: eslint --fix

Bump version
  package.json
Due: none

Update example
  example/.env.example
  example/README.md
  example/client.js
  example/server.js
Due: eslint --fix

Fix
  src/SyncKeyStorage.ts
Due: tslint --fix

Add 'virgil-' prefix
  README.md
  package.json
Due: none

Update jest.setup.js
  jest.setup.js
Due: eslint --fix

remove import of types
  package.json
  src/CloudKeyStorage.ts
  src/KeyknoxManager.ts
  src/SyncKeyStorage.ts
  src/types.ts
Due: tslint --fix

fix
  src/KeyknoxManager.ts
Due: tslint --fix

Updated Slack link
  README.md
Due: none

Update LICENSE
  LICENSE
Due: none

Update travis-ci badge
  README.md
Due: none

fix reset response
  src/KeyknoxManager.ts
  src/clients/IKeyknoxClient.ts
  src/clients/KeyknoxClient.ts
  src/clients/__tests__/KeyknoxClient.test.ts
  src/entities.ts
Due: tslint --fix

add static deleteAllEntries for CloudKeyStorage
  src/CloudKeyStorage.ts
  src/KeyknoxManager.ts
  src/__tests__/CloudKeyStorage.test.ts
  src/__tests__/KeyknoxManager.test.ts
  src/clients/KeyknoxClient.ts
  src/clients/__tests__/KeyknoxClient.test.ts
Due: tslint --fix

fix vulnerabilities
  package.json
  rollup.config.js
  yarn.lock
Due: eslint --fix

rename deleteAllEntries to resetAllEntries
  src/CloudKeyStorage.ts
Due: tslint --fix

update tests
  jest.config.js
  package.json
  src/__tests__/CloudKeyStorage.test.ts
  yarn.lock
Due: eslint --fix, tslint --fix

bump version to 0.2.4
  package.json
Due: none

fix test
  src/__tests__/CloudKeyStorage.test.ts
Due: tslint --fix

remove static methods from CloudEntryStorage and KeyknoxManager
  src/CloudKeyStorage.ts
  src/KeyknoxManager.ts
  src/__tests__/CloudKeyStorage.test.ts
  src/__tests__/KeyknoxManager.test.ts
  src/clients/IKeyknoxClient.ts
  src/clients/KeyknoxClient.ts
  src/clients/__tests__/KeyknoxClient.test.ts
  src/entities.ts
  src/resetAllEntries.ts
Due: tslint --fix

add sequential test for deleteAllEntries
  src/__tests__/CloudKeyStorage.test.ts
Due: tslint --fix

add export of unsafeResetAllEntries and instruction in README
  README.md
  src/clients/IKeyknoxClient.ts
  src/index.ts
  src/unsafeResetAllEntries.ts
Due: tslint --fix

change instruction
  README.md
Due: none

change readme
  README.md
Due: none

update KTC-41
  src/__tests__/CloudKeyStorage.test.ts
Due: tslint --fix

export KeyknoxClient and revert
  src/clients/KeyknoxClient.ts
  src/index.ts
  src/unsafeResetAllEntries.ts
Due: tslint --fix

remove test for static reset
  src/clients/__tests__/KeyknoxClient.test.ts
Due: tslint --fix

fix vulnerability
  yarn.lock
Due: none

update axios to 0.19.0 to fix vulnerabilty issue
  package.json
  yarn.lock
Due: none

Add v0.3.0-alpha.0
  .eslintignore
  .eslintrc.json
  .gitignore
  .huskyrc
  .lintstagedrc
  .prettierrc
  .travis.yml
  example/.env.example
  example/.eslintrc.json
  example/README.md
  example/client.js
  example/server.js
  jest.config.js
  package.json
  rollup.config.js
  setup-mocha.js
  src/CloudEntrySerializer.ts
  src/CloudKeyStorage.ts
  src/KeyEntryStorageWrapper.ts
  src/KeyEntryUtils.ts
  src/KeyknoxManager.ts
  src/SyncKeyStorage.ts
  src/__tests__/CloudEntrySerializer.test.ts
  src/__tests__/CloudKeyStorage.test.ts
  src/__tests__/KeyEntryStorageWrapper.test.ts
  src/__tests__/KeyEntryUtils.test.ts
  src/__tests__/KeyknoxManager.test.ts
  src/__tests__/SyncKeyStorage.test.ts
  src/__tests__/errors.test.ts
  src/clients/KeyknoxClient.ts
  src/clients/__tests__/KeyknoxClient.test.ts
  src/cryptos/IKeyknoxCrypto.ts
  src/cryptos/KeyknoxCrypto.ts
  src/cryptos/__tests__/KeyknoxCrypto.test.ts
  src/index.ts
  src/types.ts
  src/typings.d.ts
  tsconfig.json
  tslint.json
  yarn.lock
Due: eslint --fix, tslint --fix

Update README.md and example
  README.md
  example/.env.example
  example/README.md
  example/client.js
  example/server.js
Due: eslint --fix

Path conditions:
  eslint --fix: any of: **/*.js
  tslint --fix: any of: src/**/*.ts
